body.lmu-klinikum {
  .content-container {
    .contents {
      background-color: $light-green;
      min-height: 200px;
      border-radius: 2px;
      a {
        color: #333;
      }
    }

    .text-right {
      float: right;
      font-size: .8rem;
      a {
        margin-left: 16px;
        padding: 4px;
      }
      a:hover {
        text-decoration: underline;
        background-color: $light-grey;
        border-radius: 4px;
        padding: 4px;
      }
    }
    margin-bottom: 2em;
  }

  .content-container.requests .contents,
  .content-container.complete .contents {
    background-color: $light-grey;
  }
  .content-container.available .contents {
    background-color: white;
  }
}