body.lmu-klinikum {
  .content-container {
    .contents {
      background-color: $light-green;
      min-height: 200px;
      border-radius: 2px;
    }

    h2 a {
      font-size: .8rem;
      float: right;
      text-decoration: underline;
    }
    margin-bottom: 2em;
  }
}