body.lmu-klinikum {
  .content-container {
    .contents {
      background-color: $light-green;
      min-height: 200px;
      border-radius: 2px;
      a {
        color: #333;
      }
    }

    h2 a {
      font-size: .8rem;
      float: right;
      text-decoration: underline;
    }
    margin-bottom: 2em;
  }

  .content-container.requests .contents,
  .content-container.complete .contents {
    background-color: $light-grey;
  }
  .content-container.available .contents {
    background-color: white;
  }
}