@import "@fontsource/roboto";
@import "css/colors.scss";
@import "css/header.scss";
@import "css/content_container.scss";
@import "css/user.scss";
@import "css/forms.scss";

body {
  font-family: 'Roboto';
  color: $text;

  footer {
    background-color: $grey !important;
    color: #666 !important;
  }

  .btn {
    border-radius: 2px;
  }
}

body.lmu-klinikum {
  h1, h2, h3, h4, h5 {
    color: $green;
  }
  h2 {
    font-size: 1.5rem;
  }
  .mr-12 {
    margin-right: 12px;
  }
  .mb-12 {
    margin-bottom: 12px;
  }
  .mb-24 {
    margin-bottom: 24px;
  }
  .mt-24 {
    margin-top: 24px;
  }
  .mt-12 {
    margin-top: 12px;
  }
  .pr-12 {
    padding-right: 12px;
  }
  ul, ul li {
    padding: 0;
    padding-left: 0;
    list-style-type: none;
  }

  .btn-primary {
    background-color: $green;
    border-color: $green;
    text-transform: none;

    svg {
      margin-right: 8px;
    }

    &:hover {
      background-color: $dark-green;
      border-color: $dark-green;
    }
  }
  input[type="checkbox"] + label {
    margin-top: 0;
  }
}


.login-form {
  padding-top: 10vh;
  margin-bottom: 10vh;
  .logo {
    width: 100%;
    height: auto;
  }
}

.rowflex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.float-right {
  float: right;
}
.rowflex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.wrapit {
  flex-wrap: wrap;
}
.justified {
  justify-content: space-between;
}
.centered {
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
